body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 100px 85% 100px;
    gap: 10px;
}
h1, a{
    color: white;
}
.logo{
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 1/2;
    max-height: 100px;
    justify-self: center;
}
.bakgrund{
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
aside{
    grid-column: 1/2;
    grid-row: 2/5;
}
header{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
nav{
    grid-column: 2/3;
    grid-row: 2/3;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    gap: 50px;
}
main{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 200px;
    gap: 20px;
    flex-wrap: wrap;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
}
.album{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 1px;
}